.form{
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: justify;
  
}
.title-confirm{
    padding-top: 8rem;
}
h5{
    padding-top: 11rem;
}
.btncompra{
    padding-bottom: 2rem;
}
.btnInicio{
    padding-top: 2rem;
}
p span{
    font-size: 1.5rem;
}