p{
    margin-bottom: 0;
}
.template-card{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 5rem;
    padding-top: 2rem;
    
}
.card-body1{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
}
.btn-infor{
    padding-bottom: 1.5rem;
}