p{
    margin-bottom: 0;
}
.template-card{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content:center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
.card-body1{
    margin-top: 0;
    padding-bottom: 1.5rem;
}
.card-body1 h5{
   padding-top: 1rem;
}
.btn-infor{
    padding-bottom: 1.5rem;
}